.books {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(221, 217, 212);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.books .bookTitle {
  font-family: cursive;
  font-size: 60px;
}

.booklist {
  width: 70vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  text-align: center;
  
}

.search { 
  width: 600px; 
  display: flex; 
  align-items: center; 
  padding: 10px; 
  border-radius: 28px; 
  background: #f6f6f6; 
  transition: box-shadow 0.5s; 
}

.search:focus-within { 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75); 
}

.search-input { font-size: 20px; 
  font-family: 'Lexend', sans-serif; 
  color: #333333; 
  margin-left: 4px; 
  outline:none; 
  border: none; 
  background: transparent; 
  /* width: 300px; */ 
}

.search-input::placeholder, 
.search-icon { 
  color: rgba(0, 0, 0, 0.25); 
}

/* MENU ITEM STYLING */

.bookItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.bookItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.bookItem div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bookItem h1,
.bookItem p {
  /* margin-left: 20px; */
  font-size: 28px;
}

@media only screen and (max-width: 1300px) {
  .booklist {
    grid-template-columns: 2fr 2fr;
  }
}

@media only screen and (max-width: 800px) {
  .booklist {
    grid-template-columns: 1fr;
  }
}

.bookItem img {
  width: 100%;
  height: 200px;
  object-fit:contain;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.books button {
  align-self: flex-start;
  margin-left: 100px;  
  font-family:cursive;
  background-color: rgb(188, 199, 183);
  border-color: rgb(236, 236, 236);
}